<nav class="bg-white shadow-md mb-8">
  <div class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="text-xl font-bold text-gray-800">
        <a href="/produk">Toko Klontong</a>
      </div>
      <div class="flex space-x-4">
        <a href="/produk" class="text-gray-600 hover:text-blue-500"
          >Daftar Produk</a
        >
        <a href="/produk/tambah" class="text-gray-600 hover:text-blue-500"
          >Tambah Produk</a
        >
      </div>
    </div>
  </div>
</nav>
