{{define "content"}}
<h1 class="text-3xl font-bold mb-4">Daftar Produk</h1>
<div class="bg-white shadow-md rounded-lg p-6">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">ID</th>
        <th class="py-2 px-4 border-b">Nama Produk</th>
        <th class="py-2 px-4 border-b">Harga</th>
        <th class="py-2 px-4 border-b">Stok</th>
      </tr>
    </thead>
    <tbody>
      {{range .Products}}
      <tr>
        <td class="py-2 px-4 border-b text-center">{{.ID}}</td>
        <td class="py-2 px-4 border-b">{{.NamaProduk}}</td>
        <td class="py-2 px-4 border-b text-right">{{.Harga}}</td>
        <td class="py-2 px-4 border-b text-center">{{.Stok}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
