<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Detail Transaksi - Toko Klontong</title>
  </head>
  <body class="bg-[#F8F8F8] font-sans">
    {{template "navbar.html"}}

    <div class="container mx-auto mt-8">
      <h1 class="text-3xl font-bold mb-4 text-[#333333]">
        Detail Transaksi #{{.Transaction.ID}}
      </h1>
      <div class="bg-[#F8F8F8] shadow-lg rounded-xl p-6">
        {{$formatWaktu := "02 Jan 2006 15:04:05"}}
        <p class="mb-2 text-[#333333]">
          <strong>Waktu:</strong> {{.Transaction.CreatedAt.Format $formatWaktu}}
        </p>
        <p class="mb-4 text-[#333333]">
          <strong>Total:</strong>
          <span class="font-bold text-lg">Rp {{.Transaction.TotalHarga}}</span>
        </p>
        <h3 class="text-xl font-semibold mt-6 mb-2 border-t border-[#E0E0E0] pt-4 text-[#333333]">
          Item yang Dibeli:
        </h3>
        <ul>
          {{range .Transaction.DetailTransaksis}}
          <li class="flex justify-between border-b border-[#E0E0E0] py-2 text-[#333333]">
            <span
              >{{.Produk.NamaProduk}} ({{.Jumlah}} x Rp {{.Produk.Harga}})</span
            >
            <span>Rp {{.Subtotal}}</span>
          </li>
          {{end}}
        </ul>
        <a
          href="/histori"
          class="text-[#4A90E2] hover:text-[#3A7AD0] mt-6 inline-block transition duration-300"
          >&larr; Kembali ke Riwayat</a
        >
      </div>
    </div>
    {{template "footer.html" .}}
  </body>
</html>
