<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kasir - Toko Klontong</title>
  </head>
  <body class="bg-gray-100 font-sans">
    {{template "navbar.html"}}
    <div class="container mx-auto mt-8">
      <h1 class="text-3xl font-bold mb-4">Riwayat Transaksi</h1>
      <div class="bg-white shadow-md rounded-lg p-6">
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="py-2 px-4 border-b">ID Transaksi</th>
              <th class="py-2 px-4 border-b">Waktu</th>
              <th class="py-2 px-4 border-b">Total Harga</th>
              <th class="py-2 px-4 border-b">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {{range .Transactions}}
            <tr>
              <td class="py-2 px-4 border-b text-center">{{.ID}}</td>
              <td class="py-2 px-4 border-b">
                {{.CreatedAt.Format "02 Jan 2006 15:04"}}
              </td>
              <td class="py-2 px-4 border-b text-right">Rp {{.TotalHarga}}</td>
              <td class="py-2 px-4 border-b text-center">
                <a href="/histori/{{.ID}}" class="text-blue-500 hover:underline"
                  >Detail</a
                >
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    {{template "footer.html" .}}
  </body>
</html>
